
services:
  mysql:
    image: mysql:8.0
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    container_name: mysql-e-commerce
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: frontend_db
      MYSQL_USER: demo
      MYSQL_PASSWORD: demo
    ports:
      - "3306:3306"
    volumes:
      - mysql8_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d


  rabbitmq:
    image: rabbitmq:3-management
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 1s
      timeout: 5s
      retries: 12
      start_period: 5s
    container_name: rabbitmq-e-commerce
    volumes:
      - ./rabbitmq-init/definitions.json:/etc/rabbitmq/definitions.json:ro
      - ./rabbitmq-init/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: -rabbitmq_management load_definitions "/etc/rabbitmq/definitions.json"



  customer-portal:
    build: ./customer-portal
    container_name: customer-portal
    ports:
      - "8080:8080"
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: demo
      MYSQL_PASSWORD: demo
      MYSQL_DB: frontend_db
      RABBITMQ_HOST: rabbitmq-e-commerce
    depends_on:
      - mysql


volumes:
  mysql8_data:
